// ScrollTo Javascript
//SCroll into view
//Indicator evt. pil-ish
//Halv-logo / helt logo på hvert firma

#about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;

  @include pb {
    display: block;
  }

  img {
    position: absolute;
    width: 400px;
    left: 6em;
    top: 6em;

    @include ll {
      left: 3em;
    }

    @include tb {
      width: 300px;
    }

    @include pb {
      position: relative;
      top: 2em;
    }
  }

  .overlap {
    background: $nav-dark;
    height: 80vh;
    padding: 10em 0em 0em 15em;
    color: $light-font;
    font-family: $txt;
    position: relative;

    @include ll {
      height: 45vh;
    }

    @include tb {
      height: 60vh;
      padding: 3em 0em 0em 13em;
    }

    @include pb {
      padding: 7em 1em 1em 1em;
    }

    @include pm {
      height: 90vh;
    }

    @include ps {
      height: 110vh;
    }

    h1 {
      font-size: 4em;
      font-weight: $light;
      text-align: left;
    }

    h2 {
      font-size: 1em;
    }

    p {
      max-width: 40vw;

      @include pb {
        max-width: 100%;
      }
    }
  }

  .scroll-indicator {
    position: absolute;
    left: 50%;
    font-size: 3em;

    text-decoration: none;
    -webkit-animation: bounce 1.4s infinite;
    animation: bounce 1.4s infinite;
  }

  @-webkit-keyframes bounce {
    0% {
      top: 80%;
    }
    50% {
      top: 83%;
    }
    100% {
      top: 80%;
    }
  }

  @keyframes bounce {
    0% {
      top: 80%;
    }
    50% {
      top: 83%;
    }
    100% {
      top: 80%;
    }
  }

  .fa,
  .fas {
    color: white;
  }
}

#card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin: 2em;
  font-family: $txt;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem; //for mozzila browser
  position: relative;
  height: 25em;

  &:nth-child(even) {
    margin-top: 3em;
  }

  &:nth-child(odd) {
    // margin-left: 3em;
  }

  &:nth-child(2) {
    ul {
      font-size: 0.8em;
    }
  }

  &__side {
    height: 25em;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 25em;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem grey;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        // background-image: linear-gradient(to right bottom, grey, whitesmoke);
        background: $nav-dark;
        color: white;
      }

      &-2 {
        background-image: linear-gradient(to right bottom, yellow, green);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, yellow, green);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 18rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-left-radius: 3px;

    &-1 {
      background-image: linear-gradient(to right bottom, #755252, #7ea8c2);
    }

    &-2 {
      background-image: linear-gradient(to right bottom, #755252, #7ea8c2);
    }

    &-3 {
      background-image: linear-gradient(to right bottom, #755252, #7ea8c2);
    }
  }

  &__heading {
    font-size: 2.1em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  h5 {
    font-size: 2em;
    font-family: $txt;
    font-weight: $light;
    text-align: center;
  }

  .vila {
    margin-left: 1.21em;
  }

  &__heading-span {
    padding: 0.1em 1em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background: #755252bd;
    }

    &--2 {
      background: #755252bd;
    }

    &--3 {
      background: #755252bd;
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  //BACK SIDE STYLING
  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    ul {
      line-height: 2;
    }

    h2 {
      text-align: center;
      font-weight: $light;
      font-size: 2em;
      padding-bottom: 1em;
    }
  }
}

// #resume {
//   margin: 8em;
//   position: relative;

//   .h4-edu {
//     top: 4.3em;

//     @include ll {
//       top: 5.3em;
//     }

//     @include tb {
//       top: 8.3em;
//     }
//   }

//   .h4-job {
//     top: -0.4em;
//   }

//   h1 {
//     margin: 4em 0em 2em 0em;
//   }
//   .cv {
//     overflow: auto;
//     white-space: nowrap;

//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     grid-gap: 2em;
//     padding: 2em;
//   }

//   .job,
//   .education {
//     display: flex;
//     flex-direction: column;
//     text-align: left;
//     padding: 1em;
//     width: 30vw;
//     border-radius: 1em;
//     box-shadow: 1px 7px 20px grey;
//     margin-right: 2em;
//     transition: all 0.5s ease-in-out;

//     &:hover {
//       transform: scale(1.03, 1.03);
//     }

//     @include tb {
//       white-space: normal;
//       width: 40vw;
//     }

//     h1 {
//       font-size: 1.6em;
//       margin: 0;
//     }

//     h2 {
//       font-family: $txt;
//       font-weight: $bold;
//       font-size: 1.2em;
//       text-align: center;
//     }

//     h3 {
//       font-family: $txt;
//       font-weight: $semi-bold;
//       text-align: center;
//     }

//     p {
//       text-align: center;
//     }

//     ul {
//       white-space: normal;
//     }

//     li {
//       font-family: $txt;
//       line-height: 2;
//       max-width: 30vw;
//       font-size: 0.8em;
//     }

//     .cv > .job:last-child {
//       margin: 20em;
//     }
//   }

//   img {
//     max-width: 300px;
//   }
// }

.some {
  text-align: center;
  margin-top: 3em;
  img {
    width: 3em;
  }
}

@media only screen and (max-width: 414px) {
  @-webkit-keyframes bounce {
    0% {
      top: 55%;
    }
    50% {
      top: 58%;
    }
    100% {
      top: 55%;
    }
  }
  @keyframes bounce {
    0% {
      top: 55%;
    }
    50% {
      top: 58%;
    }
    100% {
      top: 55%;
    }
  }
}
