html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $txt;
}

.splash {
  height: 100vh;
  padding-top: 3.75em;
  margin: auto;
  position: relative;

  background: whitesmoke;

  @include ps {
    padding-top: 12em;
  }

  img {
    position: absolute;
    top: 8em;
    left: 42em;
    opacity: 0.3;
    max-height: 80vh;

    @include ll {
      top: 9em;
      left: 13em;
      max-height: 50vh;
    }

    @include tb {
      top: 11em;
      left: 11em;
    }

    @include pb {
      top: 10em;
      left: 0;
    }

    @include pm {
      top: 16em;
      max-height: 41vh;
    }

    @include ps {
      max-height: 50vh;
      top: 21em;
    }
  }

  h1 {
    color: $dark-font;
    margin-left: 1.5em;
    font-size: 4em;
    font-weight: $light;
    word-wrap: break-word;
    border-bottom: 1px $dark-font solid;
    line-height: 2;

    position: absolute;
    top: 40%;
    transform: translateY(-40%);

    @include pb {
      font-size: 2.5em;
      margin: 0.5em;
    }

    @include pm {
      top: 20%;
    }
    @include ps {
      font-size: 2em;
    }
  }

  .scroll-indicator {
    position: absolute;
    left: 50%;
    font-size: 3em;
    text-decoration: none;

    -webkit-animation: bounce 1.4s infinite;
    animation: bounce 1.4s infinite;
  }

  @-webkit-keyframes bounce {
    0% {
      top: 80%;
    }
    50% {
      top: 83%;
    }
    100% {
      top: 80%;
    }
  }

  @keyframes bounce {
    0% {
      top: 80%;
    }
    50% {
      top: 83%;
    }
    100% {
      top: 80%;
    }
  }

  @include pb {
    @-webkit-keyframes bounce {
      0% {
        top: 75%;
      }
      50% {
        top: 78%;
      }
      100% {
        top: 75%;
      }
    }

    @keyframes bounce {
      0% {
        top: 75%;
      }
      50% {
        top: 78%;
      }
      100% {
        top: 75%;
      }
    }
  }
  @include pm {
    @-webkit-keyframes bounce {
      0% {
        top: 55%;
      }
      50% {
        top: 58%;
      }
      100% {
        top: 55%;
      }
    }

    @keyframes bounce {
      0% {
        top: 55%;
      }
      50% {
        top: 58%;
      }
      100% {
        top: 55%;
      }
    }
  }

  .fa,
  .fas {
    color: $dark-font;
  }
}
#menu {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  text-align: right;
  padding: 1em;
  font-weight: $light;
  background: transparent;
  transition: 0.5s ease-in-out;

  &.nav-colored {
    background: $nav-dark;
    transition: 0.5s ease-in-out;

    a {
      color: $light-font;

      &:hover::after {
        border-bottom: 1px $light-font solid;
      }
    }
  }

  @include tb {
    display: none;
  }

  a {
    color: $dark-font;
    text-decoration: none;
    margin: 2em;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      transition: width 0.3s;
      display: inline-block;
      bottom: 0;
      left: 0;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      transform: scaleX(1);
      border-bottom: 1px $dark-font solid;
    }
  }
}

.btn-top {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 2em;
  right: 2em;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 6;
  border: 1px $nav-dark solid;
  text-decoration: none;

  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    line-height: 2em;
    color: $nav-dark;
  }

  &:hover {
    cursor: pointer;
    animation: jump 1s ease-in-out infinite normal;

    @keyframes jump {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-1em);
      }

      100% {
        transform: translateY(0);
      }
    }
  }
  &:active {
    background: $nav-dark;
    color: $light-font;
  }
}
.show {
  opacity: 1;
  visibility: visible;
}

section {
  position: relative;
  h1 {
    font-weight: $light;
    font-size: 2.5em;
    text-align: center;
  }

  h4 {
    font-size: 9em;
    opacity: 0.1;
    position: absolute;
    margin: 0;
    top: -0.7em;
    left: 1em;
    color: $nav-dark;

    @include tb {
      font-size: 6em;
    }

    @include pb {
      font-size: 4em;
    }

    @include pm {
      top: 0.3em;
      font-size: 3em;
    }
  }

  p {
    font-weight: $regular;
  }
}

#info {
  max-width: 40vw;
  margin: 0 auto;
  padding: 10em;
  line-height: 2;

  strong {
    font-weight: $semi-bold;
  }

  @include pm {
    max-width: 100%;
    padding: 2em;
  }
  @include pb {
    max-width: 100%;
    padding: 2em;
  }
}

#portfolio {
  align-items: center;
  padding-bottom: 4em;

  @include pb {
    padding-bottom: 0;
  }

  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5em 4em;
    justify-items: center;

    @include pm {
      margin: 5em 1em;
    }

    #flip-container {
      position: relative;
      margin: 0 auto;
      width: 500px;
      height: 500px;
      z-index: 1;

      perspective: 1000;

      @include pb {
        width: 300px;
        height: 300px;
      }

      #flip-card {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.7s linear;
      }

      &:hover #flip-card {
        transform: rotateY(180deg);

        @include pb {
          transform: none;
        }
      }

      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        img {
          @include ll {
            width: 400px;
          }
          @include pb {
            width: 300px;
          }
        }

        @include ll {
          top: 7em;
        }

        @include tb {
          width: 400px;
          height: 400px;
        }

        @include pb {
          position: static;
          width: 300px;
          height: 300px;
        }

        &.front {
          @include tb {
            left: 3em;
          }
        }
      }

      .face.back {
        position: relative;
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        padding: 1em;
        color: $light-font;
        text-align: center;
        box-shadow: 0em 0.5em 4em -3em grey;
        background: $nav-dark;
        @include tb {
          width: 100%;
        }
        @include pb {
          position: absolute;
          padding: 0;
        }
      }
    }

    #flip-cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      outline: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      opacity: 1;
      box-sizing: border-box;
      padding: 2em;
      border: 2px $light-font solid;
      background: $nav-dark;

      a {
        color: $light-font;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-decoration: none;

        animation: storm 0.7s ease-in-out;
        animation-delay: 0.06s;

        &:hover {
          animation: rotate 0.7s ease-in-out;
        }
      }
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }
      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }
      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }
      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }

    @keyframes storm {
      0% {
        transform: translate3d(0, 0, 0) translateZ(0);
      }
      25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
      }
      50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
      }
      75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
      }
      100% {
        transform: translate3d(0, 0, 0) translateZ(0);
      }
    }

    p {
      margin-top: 0;
      margin-top: 0;
      align-self: center;
      line-height: 1.7;
      max-width: 30em;

      @include tb {
        max-width: 550px;
        margin: 2em 2em;
        padding: 0;
      }

      @include pb {
        margin: 2em 0em;
      }
    }

    .order-change {
      text-align: right;

      h1 {
        text-align: right;
      }

      @include tb {
        order: -1;
        text-align: left;
      }
    }

    @include ll {
      grid-gap: 2em;
    }

    @include tb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .txt-portfolio {
      position: relative;

      h1 {
        margin-top: 0;
        text-align: left;
        font-weight: $semi-bold;

        @include tb {
          text-align: center;
        }
        @include pb {
          margin: 1em 0em;
          text-align: left;
        }
      }

      p {
        margin-top: 2em;

        @include pb {
          font-size: 0.8em;
        }
      }

      .read-more {
        cursor: pointer;
        font-size: 0.8em;
        padding: 0.8em;
        border: 1px $nav-dark solid;
        box-shadow: 4px 7px 19px -7px rgb(156, 156, 156);

        &:hover {
          animation: storm 0.7s ease-in-out;
        }
      }

      a {
        color: $nav-dark;
        text-decoration: none;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        position: relative;
        font-weight: $bold;

        &::after {
          position: absolute;
          content: "";
          transition: width 0.3s;
          display: inline-block;
          bottom: 0;
          left: 0;
          width: 0;
        }

        &:hover::after {
          width: 100%;
          transform: scaleX(1);
          border-bottom: 1px $nav-dark solid;
        }

        @include tb {
          text-align: right;
          margin: 0;
        }

        @include tb {
          margin-left: 2em;
        }

        @include pb {
          margin: 0;
        }
      }

      .hidden {
        display: none;
      }
    }
  }
}
#about {
  margin: 10em 0em;
  line-height: 1.8;

  #about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4em 4em 0em 6em;
    justify-items: center;

    img {
      width: 350px;

      @include ll {
        width: 300px;
      }

      @include pb {
        width: 200px;
      }
    }

    h1 {
      text-align: left;
    }

    @include tb {
      grid-template-columns: repeat(1, 1fr);
    }

    @include pb {
      margin: 4em 2em 0em 2em;
    }
  }

  figure {
    --bdw: 0.5em;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    display: grid;

    @include tb {
      max-width: 100%;
      max-height: 100%;
      order: -1;
      margin: 1em 1em 5em;
    }
  }
  figure:before,
  figure:after {
    content: "";
    border: $nav-dark solid;
    transform: rotate(-45deg);
    grid-area: 1 / 1;
  }

  figure:before {
    border-width: var(--bdw) 0;
    z-index: -1;
  }

  figure:after {
    border-width: 0 var(--bdw);
  }

  img {
    grid-area: 1 / 1;
    width: 100%;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: left;
    margin-left: 2.2em;
    flex-wrap: wrap;
    max-width: 50vw;

    @include tb {
      margin-right: 2.2em;
      max-width: 100%;
    }

    @include pb {
      margin-left: -2em;
      margin-right: 0;
    }

    li {
      padding: 0.3em 1em;
      border: 1px $nav-dark solid;
      margin: 1em;
      font-weight: $bold;
      box-shadow: 4px 7px 19px -7px rgb(156, 156, 156);
      background: $nav-dark;
      color: $light-font;
    }
  }

  .design {
    li {
      background: none;
      color: $nav-dark;
      border: 1px $nav-dark solid;
    }
  }
}

#contact {
  img {
    width: 30px;
    border-radius: 4px;
  }

  #contact-wrapper {
    justify-content: center;

    .contact-txt {
      max-width: 60vw;
      margin: 0 auto;
      line-height: 1.8;

      @include pb {
        max-width: 100%;
        margin: 2em;
      }
    }
  }

  .contact-info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 4em 13em;
    line-height: 3;

    @include tb {
      margin: 4em 9em;
    }

    @include pb {
      margin: 2em;
    }

    span {
      padding: 0.4em;

      i {
        padding-right: 1em;
        font-size: 1.4em;
      }

      a {
        color: black;
        cursor: pointer;
        text-decoration: none;
      }

      @include ps {
        padding: 0;
      }
    }
  }
}

//MEDIA QUERIES

@media only screen and (max-width: 812px) {
  #burger-menu {
    cursor: pointer;
    margin: 3em;
    overflow: visible;
    position: fixed;
    z-index: 5;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: $dark-font;
    height: 0.2em;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0;
    top: 1em;
    width: 1em;
  }
  #burger-menu span:before {
    left: 0;
    top: -0.7em;
    width: 1.3em;
  }
  #burger-menu span:after {
    left: 0;
    top: 0.7em;
    width: 1.3em;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 0.8em;
    width: 1.7em;
  }
  #burger-menu.close span:before {
    top: 0;
    transform: rotate(90deg);
    width: 1.7em;
  }
  #burger-menu.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  #menu {
    z-index: 4;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: block;

    li {
      list-style: none;
    }

    a {
      color: $light-font;
      display: inline-block;
      font-size: 2em;
      margin-bottom: 2em;
      text-decoration: none;

      justify-content: center;

      transition: transform 250ms ease-in-out;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        transition: width 0.3s;
        bottom: 0;
        left: 0;
        width: 0;
      }

      &:hover::after {
        width: 100%;
        transform: scaleX(1);
        border-bottom: 1px $light-font solid;
      }
    }
  }

  #menu.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    background: rgba(24, 24, 24, 0.829);
    ul {
      margin-left: -2em;
    }
    li {
      animation: slideInTop 1s ease-in-out;
    }
  }

  @keyframes slideInTop {
    0% {
      transform: translateY(-10em);
      visibility: visible;
    }

    100% {
      transform: translateY(0);
    }
  }
}
