html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.splash {
  height: 100vh;
  padding-top: 60px;
  margin: auto;
  position: relative;

  background: whitesmoke;

  img {
    position: absolute;
    top: 8em;
    left: 42em;
    opacity: 0.3;
    max-height: 80vh;
  }

  h1 {
    color: $dark-font;
    margin-left: 1.5em;
    font-size: 4em;
    font-family: $txt;
    font-weight: $light;
    word-wrap: break-word;
    border-bottom: 1px black solid;
    line-height: 2;

    position: absolute;
    top: 40%;
    transform: translateY(-40%);

    @include pb {
      font-size: 2.5em;
      margin: 0.5em;
    }

    @include ps {
      font-size: 2em;
    }
  }

  .scroll-indicator {
    position: absolute;
    left: 50%;
    font-size: 3em;
    text-decoration: none;

    -webkit-animation: bounce 1.4s infinite;
    animation: bounce 1.4s infinite;
  }

  @-webkit-keyframes bounce {
    0% {
      top: 80%;
    }
    50% {
      top: 83%;
    }
    100% {
      top: 80%;
    }
  }

  @keyframes bounce {
    0% {
      top: 80%;
    }
    50% {
      top: 83%;
    }
    100% {
      top: 80%;
    }
  }

  .fa,
  .fas {
    color: $dark-font;
  }
}
#menu {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  text-align: right;
  padding: 1em;
  font-family: $txt;
  font-weight: $light;
  background: transparent;
  transition: 0.5s ease-in-out;

  &.nav-colored {
    background: $nav-dark;
    transition: 0.5s ease-in-out;

    a {
      color: $light-font;
    }
  }

  @include tb {
    display: none;
  }

  a {
    color: $dark-font;
    text-decoration: none;
    margin: 2em;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      transition: width 0.3s;
      display: inline-block;
      bottom: 0;
      left: 0;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      transform: scaleX(1);
      border-bottom: 1px $dark-font solid;
    }
  }
}

section {
  position: relative;
  h1 {
    font-family: $txt;
    font-weight: $light;
    font-size: 2.5em;
    text-align: center;
  }

  h4 {
    font-size: 9em;
    opacity: 0.1;
    font-family: $txt;
    position: absolute;
    margin: 0;
    top: -0.2em;
    left: 0.3em;
    color: $dark-font;

    @include tb {
      font-size: 6em;
    }

    @include pb {
      font-size: 4em;
    }

    @include pm {
      top: 0.3em;
      font-size: 3em;
    }
  }

  p {
    font-family: $txt;
    font-weight: $regular;
  }
}

#info {
  max-width: 60vw;
  margin: 0 auto;
  padding: 4em;

  @include pm {
    max-width: 100%;
    padding: 2em;
  }
}

#portfolio {
  border-top: 1px grey solid;
  align-items: center;

  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5em 4em 0em;
    justify-items: center;

    p {
      margin-top: 0;

      @include tb {
        max-width: 550px;
        margin: 2em 2em;
        padding: 0;
      }

      @include pb {
        margin: 2em 0em;
      }
    }

    #order-change {
      text-align: right;

      @include tb {
        order: 1;
      }
    }

    @include ll {
      grid-gap: 2em;
    }

    @include tb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .image {
    position: relative;

    img {
      max-width: 550px;
      transition: all 0.5s ease-in-out;
      opacity: 1;
      position: relative;

      &:hover {
        transform: scale(1.03, 1.03);
        opacity: 0.3;
      }

      @include pb {
        max-width: 350px;
      }
      @include ps {
        max-width: 280px;
      }
    }

    p {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(29, 106, 154, 0.72);
      color: $dark-font;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, visibility 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

#contact {
  margin-top: 2em;
  padding: 4em 1.5em;
  background: $light-font;
  color: $dark-font;

  @include pb {
    margin: 0;
  }

  .contact-txt {
    max-width: 60vw;
    margin: 0 auto;
    padding-top: 2em;

    @include pb {
      padding: 1em;
      margin: 0;
      max-width: 100%;
    }
  }

  img {
    border-radius: 0.7em;
  }

  .contact-info {
    max-width: 60vw;
    margin: 0 auto;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    text-align: center;

    p {
      font-size: 1.2em;
    }

    @include ll {
      max-width: none;
    }

    @include tb {
      display: block;
      text-align: left;
      padding: 1em 8em;
    }

    @include pb {
      padding: 1em;
    }
  }

  .tlf:before {
    font-family: "Material Icons";
    content: "\e325";
    font-size: 1.2em;
    padding-right: 0.5em;
  }
  .mail:before {
    font-family: "Material Icons";
    content: "\e0be";
    font-size: 1.2em;
    padding-right: 0.5em;
  }
  .adress:before {
    font-family: "Material Icons";
    content: "\e88a";
    font-size: 1.2em;
    padding-right: 0.5em;
  }
}

//MEDIA QUERIES

@media only screen and (max-width: 768px) {
  #burger-menu {
    cursor: pointer;
    margin: 3em;
    overflow: visible;
    position: fixed;
    z-index: 2;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: $light-font;
    height: 0.2em;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0;
    top: 1em;
    width: 1em;
  }
  #burger-menu span:before {
    left: 0;
    top: -0.7em;
    width: 1.3em;
  }
  #burger-menu span:after {
    left: 0;
    top: 0.7em;
    width: 1.3em;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 0.8em;
    width: 1.7em;
  }
  #burger-menu.close span:before {
    top: 0;
    transform: rotate(90deg);
    width: 1.7em;
  }
  #burger-menu.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: block;

    li {
      list-style: none;
    }
    a {
      color: $light-font;
      display: inline-block;
      font-size: 2em;
      margin-bottom: 2em;
      text-decoration: none;
      font-family: $txt;
      justify-content: center;

      transition: transform 250ms ease-in-out;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        transition: width 0.3s;
        bottom: 0;
        left: 0;
        width: 0;
      }

      &:hover::after {
        width: 100%;
        transform: scaleX(1);
        border-bottom: 1px $light-font solid;
      }
    }
  }

  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 6em;
    background: rgba(24, 24, 24, 0.829);
  }
}

.burger-background-dark {
  background: black !important;

  &::before {
    background: black !important;
  }

  &::after {
    background: black !important;
  }
}
